<div class='container'>
  <div class="row">
      <h3 class='mx-auto text-center'>Create Entries</h3> 
    <div class='col-md-4 mt-3 mx-auto'>
      <form action="/records/new" method="POST">
        <div class="mb-3 d-flex">
          <label for="name" class="input-group-text">Description*</label>
          <input type="text" id="name" name="name" class="form-control" maxlength="50" required>
        </div>
        <div class='mb-3 d-flex'>
          <label for='date' class='input-group-text'>Date*</label>
          <input type='date' name='date' class='form-control' id='date' maxlength="10" required>
        </div>
        <div class='mb-3 d-flex'>
          <label for='category' class='input-group-text'>Category*</label>
          <select class="form-select" name="category" id="category" aria-label="Example select with button addon" required>
            <option ></option>
            <option value="家居物業">家居物業</option>
            <option value="交通出行">交通出行</option>
            <option value="休閒娛樂">休閒娛樂</option>
            <option value="餐飲食品">餐飲食品</option>
            <option value="其他">其他</option>
          </select>
        </div>
        <div class="mb-3 d-flex">
          <label for="amount" class="input-group-text">Amount*</label>
          <input type="number" id="amount" name="amount" class="form-control" min="1" max="999999999999" required>
        </div>
        <div class="d-grid col-6 mx-auto">
          <button type='submit' class='btn btn-info mt-3 ' style="width: 16rem; background-color: #55bdca">Create</button>
          <a href="/" class="btn btn-light mt-2" style="width: 16rem;">Back</a>
        </div>
      </form>
    </div>
  </div>
</div>